*.o
*~
/.deps
/aclocal.m4
/AUTHORS
/autom4te.cache
/ChangeLog
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/fsck.fusecompress
/fusecompress
/fusecompress_offline
/INSTALL
/install-sh
/Makefile
/Makefile.in
/missing
/NEWS
/stamp-h1
